<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <form
      action="/admin/examinations/<%= exam._id %>?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
    >
      <input
        type="text"
        name="exam[examName]"
        value="<%= exam.examName %>"
      /><br />
      <input type="text" name="exam[examType]" value="<%= exam.examType %>" />
      <br />
      <br />
      <input
        type="number"
        name="exam[semester]"
        value="<%= exam.semester %>"
        max="6"
        min="1"
        required
      />
      <br />
      <input
        type="date"
        name="exam[startDate]"
        value="<%= exam.startDate.toISOString().slice(0, 10)%>"
        required
      /><br />
      <input
        type="date"
        name="exam[endDate]"
        value="<%= exam.endDate.toISOString().slice(0, 10) %>"
        required
      /><br />
      <input
        type="file"
        name="exam[timetable]"
        value="<%= exam.timetable %>"
        required
      /><br />

      <button>Update Examination</button>
    </form>
  </body>
</html>
