<% layout("/layouts/boilerplate.ejs") %>

<body>
  <% for(faculty of faculties) { %>
  <div
    class="div1"
    style="border: 2px solid black; margin: 4rem; padding: 1.5rem"
  >
    <img src="<%=faculty.photo.url%>" height="200px" width="300px" />
    <p><b>Name:</b> <%= faculty.name %></p>
    <p><b>Department:</b> <%= faculty.department %></p>
    <p><b>Designation:</b> <%= faculty.designation%></p>
    <p><b>Email:</b> <%= faculty.email %></p>
    <p><b>Phone</b>: <%= faculty.phone %></p>
    <p><b>Specialization:</b> <%= faculty.specialization %></p>
    <p><b>Experience:</b> <%= faculty.experience %></p>
    <p><b>Date of Joining:</b> <%= faculty.date_of_joining.toDateString() %></p>
  </div>
  <% } %>
</body>
