<% layout('layouts/user_boilerplate') %>
<head>
    <link rel="stylesheet" href="/styles/user/rankers.css">
</head>
    <div class="page1">

      <% if(rankersByDepartmentAndYear.length === 0){ %>
        <h1 class="no-rankers">No rankers found</h1>
      <% }else{ %>
        <% for (const department in rankersByDepartmentAndYear) { %>
          <h2><%= department %> Department</h2>
    
          <% for (const year in rankersByDepartmentAndYear[department]) { %>
          <h3>Year <%= year %></h3>
          <table>
            <thead>
              <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Percentage</th>
                <th>Photo</th>
              </tr>
            </thead>
            <tbody>
              <% rankersByDepartmentAndYear[department][year].forEach((ranker, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= ranker.name %></td>
                <td><%= ranker.percentage %>%</td>
                <td>
                  <img
                    src="<%= ranker.photo.url %>"
                    alt="<%= ranker.name %>'s photo"
                    style="width: 50px; height: 50px"
                  />
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% } %>
          <hr />
          <% } %>
      <% } %>
    </div>
  </body>
</html>
