<% layout('layouts/user_boilerplate') %>
<head>
    <link rel="stylesheet" href="/styles/user/projects.css">
</head>
    <div class="page1">

      <div class="filters">
        <label for="department">Filter by Department:</label>
        <select id="department" onchange="filterProjects()">
          <option value="">All Departments</option>
          <option value="Computer Engineering" <%= selectedDepartment === 'Computer Engineering' ? 'selected' : '' %>>Computer Engineering</option>
          <option value="Civil Engineering" <%= selectedDepartment === 'Civil Engineering' ? 'selected' : '' %>>Civil Engineering</option>
          <option value="Mechanical Engineering" <%= selectedDepartment === 'Mechanical Engineering' ? 'selected' : '' %>>Mechanical Engineering</option>
          <option value="Big Data" <%= selectedDepartment === 'Big Data' ? 'selected' : '' %>>Big Data</option>
          <option value="Artificial Intelligence" <%= selectedDepartment === 'Artificial Intelligence' ? 'selected' : '' %>>Artificial Intelligence</option>
        </select>
      </div>

      <!-- Projects Content -->
       <% if(allProjects.length === 0){ %>
        <h2>No Projects Found</h2>
       <% }else{ %>
        <% for (const department in allProjects) { %>
          <h2><%= department %> Department</h2>
          <ul>
            <% allProjects[department].forEach(project => { %>
            <li>
              <strong>Project Name:</strong> <span><%= project.projectDetails.projectName %></span><br />
              <strong>Description:</strong> <span><%= project.projectDetails.description %></span><br />
              <strong>GitHub Link:</strong>
              <a href="<%= project.projectDetails.githubLink %>">View Project</a><br />
              <strong>Submission Date:</strong> <span><%= project.projectDetails.submissionDate.toDateString() %></span><br />
              <strong>Status:</strong> <span><%= project.projectDetails.status %></span><br />
              <strong>Student Names:</strong>
              <ul>
                <% project.studentName.forEach(name => { %>
                <li><%= name %></li>
                <% }) %>
              </ul>
              <strong>Graduation Year:</strong> <span><%= project.graduationYear %></span>
            </li>
            <br />
            <% }) %>
          </ul>
          <hr />
          <% } %>
       <% } %>
    </div>

    <script>
      function filterProjects() {
        const department = document.getElementById("department").value;
        const queryString = department ? `?department=${department}` : "";
        window.location.href = `/user/projects${queryString}`;
      }
    </script>    
    
  </body>
</html>
