<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div
    class="div1"
    style="border: 2px solid black; margin: 4rem; padding: 1.5rem"
  >
    <h1>Admission Details</h1>
    <p>
      <b>Eligibility Criteria:</b><%= admissionDetails[0].eligibilityCriteria %>
    </p>
    <p>
      <b>Application Deadline:</b><%=
      admissionDetails[0].applicationDeadline.toDateString() %>
    </p>
    <p>
      <b>Admission Process:</b><%= admissionDetails[0].admissionProcedure %>
    </p>
    <h2>Fee Structure</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Category</th>
          <th>Fee (in INR)</th>
          <th>Payment Mode</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <% admissionDetails[0].feeStructure.categories.forEach(category=> { %>
        <tr>
          <td><%= category.category %></td>
          <td><%= category.fee %></td>
          <td><%= category.paymentMode %></td>
          <td><%= category.remarks %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <h2>Contact Information</h2>
    <li><%= admissionDetails[0].contact.name %></li>
    <li><%= admissionDetails[0].contact.email %></li>
    <li><%= admissionDetails[0].contact.phone %></li>
  </div>
</body>
