<% layout('layouts/user_boilerplate') %>
<head>
    <link rel="stylesheet" href="/styles/user/admission.css">
</head>
    <div class="page1">

      <!-- Admission Content -->
      <div class="admission-container">
        <h1>Admission Details</h1>
        <div class="admission-info">
          <div class="info-section">
            <h2>Eligibility Criteria</h2>
            <p><%= admissionDetails[0].eligibilityCriteria %></p>
          </div>
          
          <div class="info-section">
            <h2>Application Deadline</h2>
            <p><%= admissionDetails[0].applicationDeadline.toDateString() %></p>
          </div>
          
          <div class="info-section">
            <h2>Admission Process</h2>
            <p><%= admissionDetails[0].admissionProcedure %></p>
          </div>
        </div>

        <div class="fee-structure">
          <h2>Fee Structure</h2>
          <table>
            <thead>
              <tr>
                <th>Year</th>
                <th>Category</th>
                <th>Applicability</th>
                <th>Tuition Fee (INR)</th>
                <th>Development Fee (INR)</th>
                <th>Exam Fee (INR)</th>
                <th>Enrollment Fee (INR)</th>
                <th>Lab Manual Fee (INR)</th>
                <th>Actual Fee (INR)</th>
              </tr>
            </thead>
            <tbody>
              <% admissionDetails[0].feeStructure.forEach(fee => { %>
                <tr>
                  <td><%= fee.year %></td>
                  <td><%= fee.category %></td>
                  <td><%= fee.applicability %></td>
                  <td><%= fee.tuitionFee %></td>
                  <td><%= fee.developmentFee %></td>
                  <td><%= fee.examFee %></td>
                  <td><%= fee.enrollmentFee %></td>
                  <td><%= fee.labFee %></td>
                  <td><%= fee.actualFee %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>

        <div class="contact-info">
          <h2>Contact Information</h2>
          <ul>
            <li><i class="fas fa-user"></i> <%= admissionDetails[0].contact.name %></li>
            <li><i class="fas fa-envelope"></i> <%= admissionDetails[0].contact.email %></li>
            <li><i class="fas fa-phone"></i> <%= admissionDetails[0].contact.phone %></li>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>
